@charset "UTF-8";
/* line 1, ../Projects/help/scss/styles.scss */
body {
  margin: 0;
  font-family: Montserrat;
  /* добавила */
  padding-top: 20px;
  /* добавила чтоб потом добавить языки EN,UA */
  padding-bottom: 20px;
  background-color: rgba(246, 192, 45, 0.2);
}

/* line 9, ../Projects/help/scss/styles.scss */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  /* добавила */
}

/* line 16, ../Projects/help/scss/styles.scss */
.top h1 {
  margin: 0;
  color: #F5BB1C;
  width: 200px;
  padding-left: 3%;
}

/* line 23, ../Projects/help/scss/styles.scss */
.top .navbar {
  overflow: hidden;
  background-color: #949A9C;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 3%;
  margin-left: 3%;
}

/* line 31, ../Projects/help/scss/styles.scss */
.top .navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 40, ../Projects/help/scss/styles.scss */
.top .dropdown {
  float: left;
  overflow: hidden;
}

/* line 45, ../Projects/help/scss/styles.scss */
.top .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* line 56, ../Projects/help/scss/styles.scss */
.top .navbar a:hover, .top .dropdown:hover .dropbtn {
  background-color: #f6c02d;
}

/* line 60, ../Projects/help/scss/styles.scss */
.top .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 69, ../Projects/help/scss/styles.scss */
.top .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* line 78, ../Projects/help/scss/styles.scss */
.top .dropdown-content a:hover {
  background-color: #f6c02d;
  color: white;
}

/* line 83, ../Projects/help/scss/styles.scss */
.top .dropdown:hover .dropdown-content {
  display: block;
}

/* line 88, ../Projects/help/scss/styles.scss */
.funk--btn {
  text-decoration: none;
  color: #005288;
  line-height: 35px;
  margin-left: 15px;
}

/* line 94, ../Projects/help/scss/styles.scss */
.funk--btn:hover {
  text-decoration: underline;
}

/* line 99, ../Projects/help/scss/styles.scss */
.main--top {
  display: flex;
  justify-content: center;
  background-color: #949A9C;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 710px;
}

/* line 110, ../Projects/help/scss/styles.scss */
.main--top .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  flex-wrap: wrap;
  text-align: center;
  width: 50%;
}

/* line 121, ../Projects/help/scss/styles.scss */
.main--top .txt h5 {
  font-size: 32px;
}

/* line 125, ../Projects/help/scss/styles.scss */
.main--top .txt .learn--btn {
  text-decoration: none;
  text-align: center;
  color: #6AA840;
  padding: 15px 15px 15px 15px;
  background-color: #F5BB1C;
  border-radius: 24px;
  font-weight: 900;
  justify-content: center;
  font-size: 26px;
  transition: 0.4s;
}

/* line 137, ../Projects/help/scss/styles.scss */
.main--top .txt .learn--btn:hover {
  color: #F5BB1C;
  background-color: #6AA840;
}

/* line 146, ../Projects/help/scss/styles.scss */
.main--top .logo .logo1 {
  background-image: url(../img/LOGO_normalnoe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 406px;
  width: 320px;
  min-height: 406px;
}

/* line 162, ../Projects/help/scss/styles.scss */
main .img-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* line 169, ../Projects/help/scss/styles.scss */
main .img-btn .img--link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 173, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link {
  position: relative;
  padding: 2% 2% 2% 2%;
}

/* line 179, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link:hover .hidden {
  padding-bottom: 45px;
}

/* line 184, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link .hidden {
  position: absolute;
  z-index: 1;
  background-color: rgba(148, 154, 156, 0.7);
  padding: 0 0 0 5%;
  width: 303px;
  bottom: 18px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: bold;
  transition: 0.7s ease-out;
}

/* line 197, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link .hidden h6 {
  padding: 2px;
  margin: 0;
  color: #005288;
  font-family: monsera;
}

/* line 203, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link .hidden p {
  padding: 2px;
  margin: 0;
  color: #005288;
}

/* line 210, ../Projects/help/scss/styles.scss */
main .img-btn .img--link .side--link img {
  height: 280px;
  width: 320px;
}

/* line 221, ../Projects/help/scss/styles.scss */
.map {
  width: 100vw;
  height: 250px;
}

/* line 227, ../Projects/help/scss/styles.scss */
.pdf--files .dox {
  text-decoration: none;
  font-weight: 900;
  color: #005288;
  padding-left: 2%;
}

/* line 233, ../Projects/help/scss/styles.scss */
.pdf--files .dox:hover {
  text-decoration: underline;
}

/* line 239, ../Projects/help/scss/styles.scss */
footer {
  margin-top: 25px;
}

/* line 242, ../Projects/help/scss/styles.scss */
.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

/* line 246, ../Projects/help/scss/styles.scss */
.contacts h3 {
  margin: 0;
}

/* line 249, ../Projects/help/scss/styles.scss */
.contacts .email-link {
  width: 200px;
  margin-bottom: 20px;
}

/* line 253, ../Projects/help/scss/styles.scss */
.contacts .social {
  font-size: 35px;
  color: #0073B0;
  width: 31px;
  height: 33px;
}

/* line 261, ../Projects/help/scss/styles.scss */
#info--mid {
  text-align: center;
}

@media (max-width: 699px) {
  /* line 268, ../Projects/help/scss/styles.scss */
  .main--top .txt {
    width: 100%;
  }
}

@media (max-width: 419px) {
  /* line 275, ../Projects/help/scss/styles.scss */
  .main--top {
    min-height: 740px;
  }
}

@media (max-width: 320px) {
  /* line 285, ../Projects/help/scss/styles.scss */
  main .img-btn .img--link .side--link .hidden {
    bottom: 11px;
  }
}

@media (max-width: 420px) {
  /* line 299, ../Projects/help/scss/styles.scss */
  main .img-btn .img--link .side--link .hidden {
    bottom: 13px;
  }
}

/* line 308, ../Projects/help/scss/styles.scss */
.reserved {
  margin: 25px 0 0px 0;
  display: flex;
  justify-content: center;
}

/* line 313, ../Projects/help/scss/styles.scss */
.reserved .mail {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=styles.css.map */