body {
    margin: 0;
    font-family: Montserrat; /* добавила */
    padding-top: 20px; /* добавила чтоб потом добавить языки EN,UA */
    padding-bottom: 20px;
    background-color: rgba(246, 192, 45, 0.2);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Montserrat';  /* добавила */

    h1 {
        margin: 0;
        color: #F5BB1C;
        width: 200px;
        padding-left: 3%;
    }

    .navbar {
        overflow: hidden;
        background-color: #949A9C;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 3%;
        margin-left: 3%;
    }
    
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(246, 192, 45);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(246, 192, 45);
        color: white;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.funk--btn {
    text-decoration: none;
    color: #005288;
    line-height: 35px;
    margin-left: 15px;
    
    &:hover {
        text-decoration: underline;
    }
}

.main--top {
    display: flex;
    justify-content: center;
    background-color: #949A9C;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 710px;


    
    .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
        padding-left: 15px;
        flex-wrap: wrap;
        text-align: center;
        // min-height: 325px;
        width: 50%;

        h5 {
            font-size: 32px;
        }
        
        .learn--btn {
            text-decoration: none;
            text-align: center;
            color: #6AA840;
            padding: 15px 15px 15px 15px;
            background-color: #F5BB1C;
            border-radius: 24px;
            font-weight: 900;
            justify-content: center;
            font-size: 26px;
            transition: 0.4s;

            &:hover {
                color: #F5BB1C;
                background-color: #6AA840;
            }
        }
    }    

    .logo {

        .logo1 {
            background-image: url(../img/LOGO_normalnoe.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 406px;
            width: 320px;
            // margin-left: 1%;
            min-height: 406px;
        }
    }
    
}

main {

    // background-color: rgba(246, 192, 45, 0.3);
    .img-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        // background-color: rgba(246, 192, 45, 0.3);

        .img--link {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .side--link {
                position: relative;
                padding: 2% 2% 2% 2%;


                &:hover {
                    .hidden {
                        padding-bottom: 45px;
                    }
                }

                .hidden {
                    position: absolute;
                    z-index: 1;
                    background-color: rgba(148, 154, 156, 0.7);
                    padding: 0 0 0 5%;
                    width: 303px;
                    bottom: 18px;

                    font-family: 'Montserrat';
                    font-size: 15px;
                    font-weight: bold;
                    transition: 0.7s ease-out;

                    h6 {
                        padding: 2px;
                        margin: 0;  
                        color: rgba(0, 82, 136, 1);
                        font-family: monsera;
                    }
                    p {
                        padding: 2px;
                        margin: 0;
                        color: rgba(0, 82, 136, 1);
                    }
                }

                img {
                    // тут можно изменить размер картинки
                    height: 280px;
                    width: 320px;

                }  
            }
        }
    }
}

.map {
    width: 100vw;
    height: 250px;
}

.pdf--files {
    .dox {
        text-decoration: none;
        font-weight: 900;
        color: #005288;
        padding-left: 2%;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    margin-top: 25px;
}
.contacts {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    h3 {
        margin: 0;
    }
    .email-link {
        width: 200px;
        margin-bottom: 20px;
    }
    .social {
        font-size: 35px;
        color: #0073B0;
        width: 31px;
        height: 33px;
    }
}

#info--mid {
    text-align: center;
}

@media (max-width: 699px) {
    
    .main--top {
        .txt {
            width: 100%;
        }
    }
}

@media (max-width: 419px) {
    .main--top {
        min-height: 740px;
    }
}

@media (max-width: 320px) {
    main {
        .img-btn {
            .img--link{
                .side--link {
                    .hidden {
                        bottom: 11px;
                    }
                }
            }
        }
    }    
}

@media (max-width: 420px) {
    main {
        .img-btn {
            .img--link{
                .side--link {
                    .hidden {
                        bottom: 13px;
                    }
                }
            }
        }
    }    
}

.reserved {
    margin: 25px 0 0px 0;
    display: flex;
    justify-content: center;

    .mail {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        color: rgba(0,0,0,0.8);
        border-top: 1px solid rgba(0,0,0,0.8);
        border-bottom: 1px solid rgba(0,0,0,0.8);
    }
}